Language: Cpp

# BasedOnStyle:  LLVM

# 기본값 8
TabWidth:        4

# 기본값 2
IndentWidth:     4

# 기본값: Never
# 전부: Always 
# 들여쓰기-탭 & 정렬-공백 : ForIndentation
UseTab: ForIndentation

# 기본값 -2
AccessModifierOffset: -4

BreakBeforeBraces: Allman

AlwaysBreakTemplateDeclarations: Yes

ColumnLimit: 100

# 생성자 initializer list에서 콤마를 다음 줄 앞쪽에 두는 스타일
BreakConstructorInitializers: BeforeComma

# initializer들을 한 줄에 몰아넣지 않고, 각각 한 줄씩 배치
PackConstructorInitializers: Never
